/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}*/

/*.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px;
}*/

.content{
    display: flex;
    flex-wrap: wrap;
    justify-self: space-between;
    padding: 5px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    padding-bottom: 20px;

}

.input-box:ntn-child(2n){
    justify-content: end;
}

.input-box label, .gender-title{
    margin: 5px 0;

}

.input-box input{
    height: 20px;
    width: 95%;

}

.sel {
     display: flex;
    flex-wrap: wrap;
    width: 15%;
    padding-bottom: 20px;
}

.sel:ntn-child(2n){
    justify-content: end;
}

.sel select{
    height: 25px;
    width: 95%;
    
    
}

.sel select,  .sel1{
    display: inline-block;
    margin-top: 10px;
    height: 21px;
    width: 95%;
  
}

button {
     margin-right:2px;
    background: #00FFFF;
   }
  
   
